div(class="btn-group btn-group-justified")
  a(href="/" class="btn btn-primary") Real Time
  a(href="/" class="btn btn-primary") Device
  a(href="/" class="btn btn-primary") History
  a(href="/" class="btn btn-primary") Alert
  a(href="/users/logout" class="btn btn-primary") Logout